<section class="header-box">
  <div class="header-box-leftside">
    <h2 class="header-box__title">{{ SitePage }}</h2>
  </div>

  <div class="header-box-rightside">
    <div class="header-box-rightside-user-box">
      <div class="user-box-data">
        <h3 class="user-box-data__title">{{ user }}</h3>
        <h4 class="user-box-data__subtitle">{{ ocupation }}</h4>
      </div>
      <img class="user-box__profileImage" [src]="userPicture" alt="logo png user profile" srcset="" />
    </div>
  </div>
</section>
