.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.19); /* Slightly transparent background */
    backdrop-filter: blur(2px);
    z-index: 1000; /* Ensure it's on top of everything else */
  }