<section class="content-user">
  <section class="content-user__info">
    <header class="content-user__header">
      <h4 class="header__title">Password</h4>
      <p class="header__subtitle">Change Your User Password here!</p>
    </header>

    <form
      [formGroup]="UserInfoForm"
      class="content-user-info-box"
      (submit)="submitUserInfo()"
    >
      <label for="firstname" class="label-name">First Name </label>
      <input
        class="input-box"
        formControlName="FirstName"
        type="text"
        id="firstname"
        name="firstname"
        required
        autocomplete="off"
      />
      <label for="lastname" class="label-name">Last Name </label>
      <input
        class="input-box"
        formControlName="LastName"
        type="text"
        id="lastname"
        name="lastname"
        required
        autocomplete="off"
      />
      <label for="name" class="label-name">User Name</label>
      <input
        class="input-box"
        formControlName="UserName"
        type="text"
        name="username"
        required
        autocomplete="off"
      />
      <label for="email" class="label-name">Email</label>
      <input
        class="input-box"
        formControlName="Email"
        type="text"
        name="email"
        id="email"
        required
        autocomplete="off"
      />
      <label for="phone" class="label-name">Phone</label>
      <input
        class="input-box"
        formControlName="Phone"
        type="text"
        id="phone"
        name="phone"
        required
        autocomplete="off"
        placeholder="Phone"
      />
      <label for="ocupations" class="label-name">Ocupation</label>
      <p-dropdown
        id="ocupations"
        name="ocupations"
        [options]="Ocupations"
        optionLabel="description"
        placeholder="Select a Ocupation"
        formControlName="ocupationId"
      />
      <label for="description" class="label-name">Description</label>
      <textarea
        class="input-box"
        formControlName="Description"
        id="description"
        name="description"
        required
        autocomplete="off"
        placeholder="Write your description here"
      ></textarea>

      <input
        class="send__button"
        type="submit"
        [disabled]="IsUserInfoLoading"
        value="SAVE"
      />
    </form>
    <app-progress-spinner [IsLoading]="IsUserInfoLoading">
    </app-progress-spinner>
  </section>

  <section class="content-user__info-image">
    <header class="content-user__header">
      <h4 class="header__title">User Picture</h4>
      <p class="header__subtitle">Choose your profile picture</p>
    </header>

    <div class="content-user-picture-box">
      <label for="fileInput" class="content-user__add">
        <input
          [disabled]="IsUserImageLoading"
          type="file"
          (change)="onFileSelected($event)"
          id="fileInput"
          accept="image/*"
          hidden
        />
        <img [src]="imgURL" alt="user picture" class="user__picture" />
      </label>

      <div class="content-user-image-fields">
        <label for="title" class="label-name">Title</label>
        <input
          class="input-box"
          type="text"
          id="title"
          name="title"
          required
          autocomplete="off"
          [disabled]="IsUserImageLoading"
          placeholder="Title"
          [(ngModel)]="image.title"
        />
        <label for="ImageDescription" class="label-name">Description</label>
        <textarea
          [disabled]="IsUserImageLoading"
          class="input-box"
          id="ImageDescription"
          name="ImageDescription"
          required
          autocomplete="off"
          placeholder="Write your picture description here"
          [(ngModel)]="image.description"
        ></textarea>
      </div>

      <input
        [disabled]="IsUserImageLoading"
        class="send__button"
        type="button"
        (click)="UpdateImage()"
        value="SAVE"
      />
    </div>
    <app-progress-spinner
      [IsLoading]="IsUserImageLoading"
    ></app-progress-spinner>
  </section>
</section>
