<div class="login-section">
        <div class="login-background">

        </div>
        <div class="login-box">
                <header class="login-box-header">
                        <div class="logo">
                                <div class="login-box-header__img"></div>
                                <h3>Airstrip</h3>
                        </div>
                        <div class="divider"></div>
                        <h2 class="login__title">Welcome back, Login.</h2>
                </header>

                <body class="login-box-body">
                        <form class="login-body__form">
                                <label for="email_id">Email</label>
                                <input type="text" name="email" id="email_id" placeholder="name@gmail.com">
                                <label for="password_id">Password</label>
                                <input type="password" name="password" id="password_id" placeholder="Password">
                                <input class="form__send" type="button" value="Login">
                        </form>
                        <h5>Don't have an account? <a href="#">Sign up</a></h5>
                </body>
        </div>

</div>