$font-title: "Montserrat", sans-serif;
$font-title-size: 24px;
$font-title-size2:22px;
$font-subtitle: "Roboto", sans-serif;
$font-subtitle-size: 14px;

$padding:20px;
$border-radius:20px;
$border-radius-button: 50%;

$primary-color: #820933;
$primary-color-sidebar : #0C090D;   
$background-color:#efefef;
$header-background-color:#fff;
$font-color-sidebar:#f7f7f8;
$button-color: #131211;

//
$animation-time: .3s;

//#0C090D negro
//#820933 centro
