$font-title: 'Arial';
$font-title-size: 24px;
$font-subtitle: 'Calibri';
$font-subtitle-size: 16px;

$padding:20px;

$primary-color: rgba(255, 74, 74, 0.57);
$primary-color-sidebar : rgba(177, 3, 3, 0.063);   