$font-title: "Montserrat", sans-serif;
$font-title-size: 24px;
$font-title-size2:22px;
$font-subtitle: "Roboto", sans-serif;
$font-subtitle-size: 14px;
$font-color-focus:rgb(173, 181, 189);
$font-color-sidebar:#87868d;
$font-color-secondary:#89898691;


$button-background-color:#db6574;
$button-background-color-active:#db6575a7;

$button-color1:#fff;
$button-color-active:#ffffff8d;


$padding:25px;
$border-radius:0px;
$border-radius-button: 50%;

$primary-color: #820933;
$primary-color-sidebar : #2d3035;   
$background-color:#22252a;
$header-background-color:#2d3035;
$sidebar-color-subitem-background : #222222;

$button-color: #131211;

$animation-time: .3s;

//Variables para los textbox
$button-radius-input: 5px;
$border: 0.2px solid rgba(96, 95, 95, 0.211);
$input-placeholder-color:rgba(0, 0, 0, 0.45);
$input-focus-border:  1px solid rgba(0, 0, 0, 0.116);
$input-border-radius: 5px;
$input-padding: 13px;

$box-color: #8209333b;

$animation: all $animation-time ease;























