@import "variables.scss";

.container-content {
    position: relative;
    display: flex;
    justify-content: center;
    padding: $padding;
    background-color: $background-color;
    width: 100%;
    min-height: 100vh;
}