<section class="type-container">
    <section class="content-user__info property_box">
      <header class="content-user__header">
        <h4 class="header__title">Amenity info</h4>
        <p class="header__subtitle">Add property Amenity!</p>
      </header>
      <form class="content-user-info-box">
        <label for="title" class="label-name">Amenity</label>
        <input
          class="input-box"
          type="text"
          id="Type"
          name="Type"
          required
          autocomplete="off"
          [(ngModel)]="Value.description"
        />
      </form>
  
      <section class="action-buttons-box">
        <input
          class="send__button"
          type="button"
          (click)="SaveTypes()"
          value="SAVE"
        />
        <input
          class="clear__button"
          type="button"
          (click)="ClearTypes()"
          value="CLEAR"
        />
      </section>
    </section>
  
    <p-table
      [value]="Data"
      class="custom-table"
      [paginator]="true"
      selectionMode="single"
      [lazy]="true"
      [totalRecords]="TotalPages"
      [rows]="5"
      (onLazyLoad)="loadProperties($event)"
      (onRowSelect)="onRowSelect($event)"
      [tableStyle]="{ width: '40rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Amenity</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-amenity>
        <tr
          *ngIf="!IsLoading; else loadingTemplate"
          (click)="onRowSelect({ data: amenity })"
        >
          <td>{{ amenity.description }}</td>
  
          <td>
            <i
              class="pi pi-file-edit"
              (click)="editProperty(amenity); $event.stopPropagation()"
              style="font-size: 1.5rem"
            ></i>
          </td>
          <td>
            <i
              class="pi pi-trash"
              (click)="confirmDeleteProperty(amenity); $event.stop  Propagation()"
              style="font-size: 1.5rem"
            ></i>
          </td>
        </tr>
      </ng-template>
      <ng-template #loadingTemplate>
        <tr>
          <td><p-skeleton width="100%"></p-skeleton></td>
          <td><p-skeleton width="100%"></p-skeleton></td>
          <td><p-skeleton width="100%"></p-skeleton></td>
          <td><p-skeleton width="100%"></p-skeleton></td>
        </tr>
      </ng-template>
    </p-table>
    <app-progress-spinner [IsLoading]="IsLoading"></app-progress-spinner>
    <p-confirmDialog></p-confirmDialog>
  </section>
  