@import "variables.scss";

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 100%;
  transition: all 0.5s ease-in-out;
  background-color: $primary-color-sidebar;
  border-radius: 0 $border-radius $border-radius 0;
}
.sidebar-container-menu-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 100%;
  gap: 30px;
  cursor:pointer;
}
.menu-item-list{
  border-left: 3px solid transparent;

}
.active{
  border-left: 3px solid $primary-color;
}
.sidebar-container-menu-items li a p {
  color: $font-color-sidebar;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-size: $font-subtitle-size;
}
.menu-item{
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  padding: calc($padding - 15px);
  
}
.item-icon {
  width: 30px;
  height: 30px;
}
.sidebar-menuitems{
  width: 100%;
}