@import "variables.scss";

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 250px;
  transition: all 0.5s ease-in-out;
  background-color: $primary-color-sidebar;
  border-radius: 0 $border-radius $border-radius 0;
}

.sidebar-container-user-image {
  display: flex;
  width: 100%;
  height: 15%;
}

.sidebar-container-image-or-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid $font-color-sidebar;
  margin: auto;
}

.sidebar-container-menu-items {
  align-items: start;
  list-style: none;
  padding: 0;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 30px;
  padding: 0;
  cursor:pointer;
}

.sidebar-container-menu-items li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.sidebar-container-menu-items li a p {
  text-align: start;
  color: $font-color-sidebar;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-size: $font-subtitle-size;
}
.sidebar-container-menu-items li{
  display: flex;
  width: 100%;
}
.menu-item{
  block-size: 100%;
  display: flex;
  gap: 40px;
  margin-left: 15px;
}
.item-icon {
  width: 30px;
  height: 30px;
}
.sidebar-menuitems{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
}