<section class="content-user">
  <section class="content-user__info">
    <header class="content-user__header">
      <h4 class="header__title">Property Info</h4>
      <p class="header__subtitle">Add a basic property info!</p>
    </header>
    <form class="content-user-info-box">
      <label for="title" class="label-name">Title</label>
      <input
        class="input-box"
        type="text"
        id="title"
        name="title"
        required
        autocomplete="off"
        [(ngModel)]="Form.title"
      />

      <label for="type" class="label-name">Type</label>
      <p-dropdown
        id="types"
        name="type"
        [options]="Types"
        optionLabel="description"
        placeholder="Select a Type"
        [(ngModel)]="FormData.type"
      />
      <label for="categories" class="label-name">Categories</label>
      <p-dropdown
        id="categories"
        name="categories"
        [options]="Category"
        optionLabel="description"
        placeholder="Select a Category"
        [(ngModel)]="FormData.category"
      />
      <label for="status" class="label-name">Status</label>
      <p-dropdown
        id="status"
        name="status"
        [options]="Status"
        optionLabel="status"
        placeholder="Select a Status"
        [(ngModel)]="FormData.status"
      />
      <label for="Amenity" class="label-name">Amenities</label>
      <p-multiSelect
        id="Amenity"
        name="Amenity"
        [options]="Amenity"
        optionLabel="description"
        placeholder="Select Amenities"
        [(ngModel)]="FormData.amenity"
      />
      <input
        class="send__button"
        (click)="CheckValues()"
        type="button"
        value="SAVE"
      />
    </form>
    <app-progress-spinner [IsLoading]="IsLoading"></app-progress-spinner>
  </section>
  <!-- <section class="content-user__info">
    <header class="content-user__header">
      <h4 class="header__title">Property Info</h4>
      <p class="header__subtitle">Add a property description information!</p>
    </header>
    <form
      class="content-user-info-box"
      [formGroup]="PropertyForm"
      (submit)="SubmitPropertyInfo()"
    >
      <label for="description" class="label-name">Description</label>
      <textarea
        class="input-box textarea-property-info"
        formControlName="Description"
        id="description"
        name="description"
        required
        autocomplete="off"
        placeholder="Write your description here"
      ></textarea>
    
      <div class="button-wrapper">
        <input class="send__button" type="submit" value="SAVE" />
        <input class="send__button clear-action"  type="button" value="CLEAR" />
      </div>

    </form>
    <app-progress-spinner [IsLoading]="IsLoading"></app-progress-spinner>
  </section> -->
</section>
<!-- <section class="maintenance-box">
  <div class="maintenance-box-maintenance">
    <header class="content-user__header">
      <h4 class="header__title">Property Images</h4>
      <p class="header__subtitle">Add a images to the carrusel!</p>
    </header>
    <div
      class="maintenance-box-select-image"
      [ngClass]="selectedImageUrl !== undefined ? 'No-border' : ''"
    >
      <div
        class="image-container"
        (mouseenter)="showOverlay = true"
        (mouseleave)="showOverlay = false"
      >
        <p-image
          *ngIf="selectedImageUrl !== undefined"
          width="400px"
          height="300px"
          [src]="selectedImageUrl"
          alt="Image"
          [preview]="true"
        ></p-image>
        <h3 *ngIf="selectedImageUrl === undefined" class="select-image__label">
          {{ display }}
        </h3>

        <div class="overlay" *ngIf="showOverlay">
          <div class="right-save-edit-box">
            <div class="right-save-box">
              <label for="select__image">
                <img
                  src="assets/icon/add.svg"
                  alt="add button"
                  class="right__save"
                />
                <input
                  id="select__image"
                  type="file"
                  accept="image/png, image/gif, image/jpeg"
                  name="files"
                  (change)="onFileSelected($event)"
                />
              </label>
            </div>

            <div class="right-save-box" (click)="DeleteCurrentImage()">
              <img
                src="assets/icon/delete.svg"
                alt="delete button"
                class="right__save"
              />
            </div>
          </div>

        </div>

      </div>

    </div>
    <label for="title" class="label-name">Title</label>
    <input
      class="input-box"
      type="text"
      id="title"
      name="title"
      required
      autocomplete="off"
      placeholder="Title"
      [(ngModel)]="Title"
    />
    <label for="ImageDescription" class="label-name">Description</label>
    <textarea
      class="input-box textarea"
      id="ImageDescription"
      name="ImageDescription"
      required
      autocomplete="off"
      placeholder="Write your picture description here"
      [(ngModel)]="Description"
    ></textarea>

    <input class="send__button" type="button" (click)="AddCurrentImage()" value="SAVE" />

  </div>
  <p-divider layout="vertical"></p-divider>
  <div class="maintenance-box-slider">
    <p-listbox
      [options]="images"
      formControlName="selectedCity"
      optionLabel="description"
      (onSelectAllChange)="LoadImage()"
      
      [style]="{ width: '15rem' }"
      [(ngModel)]="image"
      [listStyle]="{ 'max-height': '220px' }"
    />
  </div>
</section> -->
