<section class="content-user">
    <section class="content-user__info">
      <header class="content-user__header">
        <h4 class="header__title">Password</h4>
        <p class="header__subtitle">
            Change Your User Password here!
        </p>
      </header>
  
      <form
        class="content-user-info-box"
      >
        <label for="firstname" class="label-name">Password</label>
        <input
          class="input-box"
          formControlName="FirstName"
          type="text"
          id="firstname"
          name="firstname"
          required
          autocomplete="off"
        />
        <label for="lastname" class="label-name">Repeat Password</label>
        <input
          class="input-box"
          formControlName="LastName"
          type="text"
          id="lastname"
          name="lastname"
          required
          autocomplete="off"
        />
  
        <input class="send__button" type="submit" value="SAVE" />
      </form>
    </section>
  
   
  </section>
  