<section class="content-user">
  <section class="content-user__info">
    <header class="content-user__header">
      <h4 class="header__title">Password</h4>
      <p class="header__subtitle">Change Your User Password here!</p>
    </header>

    <form
      class="content-user-info-box"
      [formGroup]="passwordForm"
      (submit)="submitUserInfo()"
    >
      <label for="LastPassword" class="label-name">Last Password</label>
      <input
        class="input-box"
        formControlName="LastPassword"
        type="password"
        id="LastPassword"
        name="LastPassword"        required
        autocomplete="off"
      />

      <label for="Password" class="label-name">Password</label>
      <input
        class="input-box"
        formControlName="Password"
        type="password"
        id="Password"
        name="Password"
        required
        autocomplete="off"
      />
      <label for="RepeatPassword" class="label-name">Repeat Password</label>
      <input
        class="input-box"
        formControlName="RepeatPassword"
        type="password"
        id="RepeatPassword"
        name="RepeatPassword"
        required
        autocomplete="off"
      />

      <input class="send__button" type="submit" value="SAVE" />
    
    </form>
    <app-progress-spinner [IsLoading]="IsLoading" ></app-progress-spinner>
  </section>
</section>
