<p-table
  [value]="Data"
  class="custom-table"
  [paginator]="true"
  selectionMode="single"
  [lazy]="true"
  [totalRecords]="TotalPages"
  [rows]="11"
  (onLazyLoad)="loadProperties($event)"
  (onRowSelect)="onRowSelect($event)"
  [tableStyle]="{ 'min-width': '75rem'}"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Type</th>
      <th>Category</th>
      <th>Price</th>
      <th>Agent</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-property>
    <tr *ngIf="!IsLoading; else loadingTemplate" (click)="onRowSelect({ data: property })">
      <td>{{ property.title }}</td>
      <td>{{ property.status }}</td>
      <td>{{ property.type }}</td>
      <td>{{ property.category }}</td>
      <td>{{ property.price | currency : 'USD' }}</td>
      <td>{{ property.agent }}</td>
      <td>
        <i class="pi pi-file-edit" (click)="editProperty(property); $event.stopPropagation()" style="font-size: 1.5rem"></i>
    </td>
    <td>
          <i class="pi pi-trash" (click)="confirmDeleteProperty(property); $event.stopPropagation()" style="font-size: 1.5rem"></i>
      </td>
    </tr>
  </ng-template>
  <ng-template #loadingTemplate>
    <tr>
      <td><p-skeleton width="100%"></p-skeleton></td>
      <td><p-skeleton width="100%"></p-skeleton></td>
      <td><p-skeleton width="100%"></p-skeleton></td>
      <td><p-skeleton width="100%"></p-skeleton></td>
      <td><p-skeleton width="100%"></p-skeleton></td>
      <td><p-skeleton width="100%"></p-skeleton></td>
      <td><p-skeleton width="100%"></p-skeleton></td>
      <td><p-skeleton width="100%"></p-skeleton></td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog></p-confirmDialog>
