<section class="content-user">
  <div class="content-user-left">
    <img [src]="user.imageurl" alt="image user login" class="user-left__image" />
    <div class="user-left-box">
      <input type="text" class="left-box__title" placeholder="FULL NAME" [value]="user.firstname" />
      <input type="text" class="left-box__subtitle" placeholder="OCUPATION" [value]="user.ocupation" />
    </div>

  </div>

<div class="content-user-right">
    <textarea class="user-right__description">
          {{ user.description }}
    </textarea>

</div>
  <div class="card">
    <p-speedDial transitionDelay="80" [model]="items" radius="120" direction="up-left" type="quarter-circle"
      buttonClassName="p-button-danger"></p-speedDial>
  </div>
</section>